<!DOCTYPE html>
<html>
<title>Yandex Scraper</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<body>

  <!-- !PAGE CONTENT! -->
  <div class="w3-content" style="max-width:1500px">

    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity" style="padding:0px 16px">
      <h1 class="mainTitle">Yandex Scraper</h1>
      <h1 class="w3-xlarge"> Web Scraping for Social Sciences Research</h1>

    <div class="w3-center">
      <a href="/" class="w3-button">Main</a>
      <a href="visualize" class="w3-button">Visualization</a>
      <a href="about" class="w3-button">About us</a>
      <a href="contact" class="w3-button">Contact</a>
  </div>

  
</header>

  <!-- Photo Grid -->
  <div class="w3-row-padding  w3-padding-32" style="margin-bottom:10px ;  text-align: center">

      <!-- <p>Contact</p> -->
      <span class="contact">

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.1287681733784!2d13.317826315464552!3d52.51300867981285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a8511c46ef3243%3A0x12b970f58d57050c!2sDepartment%20of%20Media%20Science%20Institute%20of%20Language%20and%20Communication%2C%20Ernst-Reuter-Platz%207%2C%2010587%20Berlin!5e0!3m2!1sen!2sde!4v1571860737810!5m2!1sen!2sde"
                width="600" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <div class="w3-padding-4" >
               <br> Quality and Usability Lab - TU Berlin <br> Ernst-Reuter-Platz 7 <br> 10587 Berlin <br> &#9742; +49 30 8353 58231 
</div>

      </span>
    </div>

  </div>
  <!-- End Page Content -->
  </div>

  <footer class="footerholder">
    <span class="footer">by <a href="https://www.qu.tu-berlin.de/menue/qu/" class="footer-button">Quality and Usability
        Lab</a>.
      The source code can be found on <a href="https://github.com/navidshahbazii/Yandex-Project" class="footer-button">GitHub
      </a>.</span>
  </footer>


</body>

</html>