<!DOCTYPE html>
<html>
<title>Yandex Scraper</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity" style="padding:0px 16px">
        <h1 class="mainTitle">Yandex Scraper</h1>
        <h1 class="w3-xlarge"> Web Scraping for Social Sciences Research</h1>

    </header>

    <div class="w3-center">
        <a href="about" class="w3-button">About us</a>
        <a href="/" class="w3-button">Main</a>
        <a href="contact" class="w3-button">Contact</a>
    </div>


    <!-- Photo Grid -->
    <div class="w3-row-padding w3-grayscale w3-padding-48" style="margin-bottom:128px ;  text-align: center">
        <form action="/scrape" method="POST">
            <input type="text" name="searchInput" class="searchInput" placeholder="Search Input">

            <div class="w3-padding-16">
                <div class="config">
                    <span class="options">Sub-domain</span>
                    <label class="domainAns">
                        <input type="radio" name="answer" checked>
                        ru
                    </label>
                    <label class="domainAns">
                        <input type="radio" name="answer">
                        by
                    </label>
                    <label class="domainAns">
                        <input type="radio" name="answer">
                        kz
                    </label>
                </div>


                <div class="config">
                    <input type="checkbox" name="autoScrap" value="autoScrap" id="autoScrap">
                    <label for="autoScrap" class="options">Automated-scarping</label>

                    <div class="autoScrap">
                        <input type="radio" name="auto" disabled> daily
                        <input type="time" name="usr_time" class="hour" disabled>
                    </div>

                    <div class="autoScrap">
                        <input type="radio" name="auto" disabled> weekly
                        <select class="radio" id="automated" class="day" disabled>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select>
                    </div>
                </div>

                <div>
                    <input type="checkbox" name="download" value="download">
                    <label for="download" class="options">Download?</label>
                </div>


                <button type="submit"> Scrape Yandex</button>

            </div>

        </form>


    </div>
</div>
<!-- End Page Content -->
</div>

<footer class="footerholder">
  <span class="footer">by <a href="https://www.qu.tu-berlin.de/menue/qu/" class="footer-button">Quality and Usability Lab</a> . The source code can be found on <a
              href="" class="footer-button">GitHub </a>.</span>
</footer>

</body>
</html>
